@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 5, 5, 5;
  }
}


::selection {
  background-color: #000000;
  color: #ffffff;
}

